<p>
  I'm in a <em>view</em>!
</p>

<%=
Time.now;
%>
<%=
p "O meu nome é muito bonito!";
%>

<ul>
  <% [ 'Papillard', 'ssaunier' ].each do |username| %>
    <li>
      <%= username %>
    </li>
  <% end %>
</ul>
